<section
  class="s-about sect-m"
  style="background: url(&quot;@img/about-bg.jpg&quot;) 0 0 / cover no-repeat"
>
  <div class="container">
    <div class="s-about__wrapper">
      <div class="s-about__body">
        <div class="s-about__title-wrapper">
          <h2 class="s-title">Автосервис, которому доверяют</h2>
          <div class="s-about__reviews">
            <div class="s-about__reviews-body">
              <div class="s-about__reviews-num">5.0</div>
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
              </svg>
              <div class="s-about__reviews-count">655 отзывов</div>
            </div>
            <div class="s-about__review-soc">Яндекс 5.0</div>
          </div>
        </div>
        <div class="content s-about__content">
          <p>
            Мы — сертифицированный автосервис в Москве, где к каждой машине
            относятся с вниманием, а к каждому клиенту — с уважением. Уже более
            10 лет мы помогаем водителям быстро и качественно решать любые
            вопросы, связанные с обслуживанием и ремонтом автомобилей. В нашей
            команде работают опытные мастера, прошедшие обучение и сертификацию.
            Мы используем современное оборудование и проверенные комплектующие,
            чтобы вы были уверены в безопасности и надёжности своего авто.
          </p>
          <p>
            Наша цель — не просто устранить поломку, а сделать так, чтобы к нам
            хотелось возвращаться. Мы открыты, честны и всегда готовы объяснить,
            что и зачем делаем.
          </p>
        </div>
        <div class="s-about__adv">
          <div class="s-about__adv-item">
            <div class="s-about__adv-num">10+</div>
            <p class="s-about__adv-content">лет успешной работы</p>
          </div>
          <div class="s-about__adv-item">
            <div class="s-about__adv-num">>1500</div>
            <p class="s-about__adv-content">довольных клиентов</p>
          </div>
          <div class="s-about__adv-item">
            <div class="s-about__adv-num">25</div>
            <p class="s-about__adv-content">сотрудников в штате</p>
          </div>
        </div>
      </div>
      <img src="@img/about.jpg" alt="image" class="s-about__img" />
    </div>
    <div class="swiper s-about__slider">
      <div class="swiper-wrapper">
        <a
          href="@img/document.jpg"
          data-fancybox
          class="swiper-slide s-about__slide"
        >
          <img src="@img/document.jpg" alt="image" />
        </a>
        <a
          href="@img/document.jpg"
          data-fancybox
          class="swiper-slide s-about__slide"
        >
          <img src="@img/document.jpg" alt="image" />
        </a>
        <a
          href="@img/document.jpg"
          data-fancybox
          class="swiper-slide s-about__slide"
        >
          <img src="@img/document.jpg" alt="image" />
        </a>
      </div>
    </div>
  </div>
</section>
