<section class="s-care sect-m">
  <div class="container">
    <div class="s-care__wrapper">
      <div class="s-care__col">
        <h2 class="s-title s-care__title">
          Забота о вашем автомобиле <span>от А до Я</span>
        </h2>
        <div class="slider-nav s-care__slider-nav">
          <div class="slider-btn _prev">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-arrow-prev"></use>
            </svg>
          </div>
          <div class="slider-btn _next">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-arrow-next"></use>
            </svg>
          </div>
        </div>
        <a href="#" class="btn-circle s-care__btn">
          <span>Все услуги</span>
          <span>
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-arrow-rotate"></use>
            </svg>
          </span>
        </a>
      </div>
      <div class="swiper s-care__slider">
        <div class="swiper-wrapper">
          <a href="#" class="swiper-slide s-care__slide">
            <img src="@img/care.jpg" alt="image" />
            <span class="s-care__slide-circle">
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-arrow-rotate"></use>
              </svg>
            </span>
            <span class="s-care__slide-title">Двигатель</span>
          </a>
          <a href="#" class="swiper-slide s-care__slide">
            <img src="@img/care.jpg" alt="image" />
            <span class="s-care__slide-circle">
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-arrow-rotate"></use>
              </svg>
            </span>
            <span class="s-care__slide-title">Двигатель</span>
          </a>
          <a href="#" class="swiper-slide s-care__slide">
            <img src="@img/care.jpg" alt="image" />
            <span class="s-care__slide-circle">
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-arrow-rotate"></use>
              </svg>
            </span>
            <span class="s-care__slide-title">Двигатель</span>
          </a>
          <a href="#" class="swiper-slide s-care__slide">
            <img src="@img/care.jpg" alt="image" />
            <span class="s-care__slide-circle">
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-arrow-rotate"></use>
              </svg>
            </span>
            <span class="s-care__slide-title">Двигатель</span>
          </a>
          <a href="#" class="swiper-slide s-care__slide">
            <img src="@img/care.jpg" alt="image" />
            <span class="s-care__slide-circle">
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-arrow-rotate"></use>
              </svg>
            </span>
            <span class="s-care__slide-title">Двигатель</span>
          </a>
        </div>
      </div>
    </div>
    <a href="#" class="btn-circle s-care__mob-btn">
      <span>Все услуги</span>
      <span>
        <svg>
          <use xlink:href="img/icons/icons.svg#icon-arrow-rotate"></use>
        </svg>
      </span>
    </a>
  </div>
</section>
