<section class="s-connect sect-m">
  <div class="s-connect__wrapper">
    <img src="@img/car.png" alt="image" class="s-connect__img">
    <div class="container">
      <h2 class="s-title s-connect__title">Давайте обсудим вашу машину</h2>
      <p class="s-connect__content">
        Напишите, что нужно — мы быстро свяжемся и всё расскажем
      </p>
      <form data-action="#" class="s-connect__form">
        <div class="s-connect__form-grid">
          <div class="input-control">
            <input
              type="text"
              placeholder="Имя"
              name="Имя"
              required
              class="input"
            />
          </div>
          <div class="input-control">
            <input
              type="tel"
              placeholder="Телефон"
              name="Телефон"
              required
              class="input"
            />
          </div>
          <div class="input-control">
            <input
              type="text"
              placeholder="VIN (не обязательно)"
              name="VIN"
              class="input"
            />
          </div>
        </div>
        <input type="checkbox" id="connect-policy" class="input-policy" />
        <label for="connect-policy" class="label-policy"
          >Я соглашаюсь с политикой конфиденциальности и обработкой
          <a href="#">персональных данных</a></label
        >
        <button type="submit" class="btn-s s-connect__form-btn">
          Оставить заявку
        </button>
      </form>
    </div>
  </div>
</section>
