<section class="s-offer sect-m">
  <div class="container">
    <h2 class="s-title s-offer__title">
      Выгодные <span>предложения</span> для <span>вашего</span> авто
    </h2>
    <div class="s-offer__timer">
      <div class="list s-offer__timer-row">
        <div class="s-offer__timer-item">
          <span>30</span>
          дней
        </div>
        <div class="s-offer__timer-item">
          <span>12</span>
          часов
        </div>
        <div class="s-offer__timer-item">
          <span>58</span>
          минут
        </div>
      </div>
      <p class="s-offer__timer-content">Осталось до конца акций</p>
    </div>
    <div class="s-offer__grid">
      <div class="s-offer__item _border">
        <img src="@img/offer-1.jpg" alt="image" class="s-offer__img _icon" />
        <div class="s-offer__head">
          <div class="s-offer__discount _blue">-50%</div>
        </div>
        <div class="s-offer__item-footer">
          <h5 class="s-offer__item-title">
            Диагностика <br />
            подвески
          </h5>
          <a href="#" class="s-offer__item-btn">Записаться на диагностику</a>
        </div>
      </div>
      <div class="s-offer__item _white">
        <img src="@img/offer-2.jpg" alt="image" class="s-offer__img" />
        <div class="s-offer__head">
          <div class="s-offer__discount">-50%</div>
        </div>
        <div class="s-offer__item-footer">
          <h5 class="s-offer__item-title">
            Компьютерная <br />
            диагностика
          </h5>
          <a href="#" class="s-offer__item-btn">Записаться на диагностику</a>
        </div>
      </div>
      <div class="s-offer__col">
        <div class="s-offer__item _white">
          <img src="@img/offer-3.jpg" alt="image" class="s-offer__img" />
          <div class="s-offer__head">
            <div class="s-offer__head-content">Скидка на запчасти</div>
            <div class="s-offer__discount">-10%</div>
          </div>
          <div class="s-offer__item-footer">
            <a href="#" class="s-offer__item-btn _min">Заказать запчасти</a>
          </div>
        </div>
        <div class="s-offer__item _border">
          <img src="@img/offer-4.jpg" alt="image" class="s-offer__img _icon" />
          <h5 class="s-offer__item-title">Мойка радиаторов</h5>
          <div class="s-offer__item-price">
            <div>12 000</div>
            <div>15 000</div>
          </div>
          <div class="s-offer__item-footer">
            <a href="#" class="s-offer__item-btn _min">Записаться на мойку</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
