.content {
  font-size: 16px;
  line-height: 110%;
  margin: 0;

  p {
    margin: 0;
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  ul {
    padding: 0px 0px 0px 24px;
    margin: 0px 0px 20px 0px;
  }
}
